/.vscode
/Blendishbot.js
/CLOSER
/assets
/comfyCommands
/data
/help.json
/index.js
/mcfetchindex.js
/node_modules
/oldcode
/package-lock.json
/package.json
/probably-deleted.png
/statsmc.txt
/test.js
/test.png
/web.js
/workspace.code-workspace